# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE files
.idea/
.vscode/
*.swp
*.swo 